*{
    margin:0;
    box-sizing: border-box;   
}

.container img{
    display: block;
    margin: auto;
    margin-top: 3%;  
}

body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1,6;
    border: 3cm;
    background-color: rgba(233, 107, 176, 0.5);
    background-image: url('/img/4.png') ;
    background-repeat:space;
    
      
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background-color: #c58787;
    color: aliceblue;
    padding: 20px 0;
}

header h1{
    float: left;
}

footer{
    background-color:#c58787 ;
    color:aliceblue;
    padding: 20px 0;
}

nav{
    float: right;
}

nav ul{
    list-style: none;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
}

section{
    padding: 50px 0;
}

#topo{
   
    background-size: cover;
    background-position: center;
    text-align: center;    
}

#topo h2{
    margin-bottom: 20px;
}

.btn{
    display: inline-block;
    background-color: black;
    color: aliceblue;
    padding: 10px 20px;
    text-decoration: underline;
    border-radius:  5px;
    margin-top: 20px;
}

.imoveis{
    margin-bottom: 40px;
}
.imoveis img{
    width: 50%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.imoveis h3{
    margin-bottom: 10px;
    text-align: center;
    }

.imoveis price{
    display: block;
    font-weight: bold;
    color: aliceblue;
}